{% extends "blog/base.html" %}
{% load static %} 
{% block content %}

<h1 class="col-lgrey">About</h1>
Chris Yoon, MSc.
<hr class="border-col-grey">

<div>    
<img class="rounded-circle about-page-image" src="{% static 'blog/images/profile-pic.webp' %}">
</div>

<div class="about-page-text text-muted">
  <p>
    <img src="{% static 'blog/images/coolrobot.png' %}">
    <span>
    Programmer / data scientist
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/businessman.png' %}">
    <span>
    Founder · CEO Keasbey Company LLC / Founder · CTO of NEWS-KRAKE LTD
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Plane.png' %}">
    <span>
    In love with memes, tennis, steaks, horror, books, stand-up comedy and pc gaming
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/bitcoin.webp' %}">
    <span>
    Bitcoin maximalist and Austrian school economist
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/studency.png' %}">
    <span>
    University of Edinburgh alumni
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/globe.png' %}">
    <span>
    Originally from Graz, Styria / currently based in Budva, Montenegro
    </span>
  </p>
</div>

<div class="button-contact-container">
  <a href="{% url 'contact' %}">
  <button class="btn btn-outline-info" style="margin-top: 35px;">Contact</button>
  </a>
</div>

<h3>Main Stack</h3>
<hr class="border-col-grey">

<div class="about-page-text text-muted">
  <p>
    <img src="{% static 'blog/images/Python_logo.webp' %}">
    <span>
    Python
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Django-Icon.webp' %}">
    <span>
    Django
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/JavaScript-Icon.webp' %}">
    <span>
    JavaScript / React
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/html_logo.webp' %}">
    <span>
    HTML/CSS
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Java-Icon.webp' %}">
    <span>
    Java
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Sql_data_base_with_logo.webp' %}">
    <span>
    SQL
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Microsoft_Azure.webp' %}">
    <span>
    Microsoft Azure
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Linux_logo.webp' %}">
    <span>
    Linux
    </span>
  </p>
</div>

<h3 style="margin-top: 100px;">Python Stack </h3>
<hr class="border-col-grey">    
  
<div class="about-page-text text-muted">
  <p>
    <img src="{% static 'blog/images/Django-Icon.webp' %}">
    <span>
    Django
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/pyqt_logo.webp' %}">
    <span>
    PyQT
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/kivy_logo.webp' %}">
    <span>
    Kivy
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/rest-logo.webp' %}">
    <span>
    REST framework
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/numpy-1.webp' %}">
    <span>
    Numpy
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/nltklibrary.webp' %}">
    <span>
    NLTK
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/TensorFlow_logo.webp' %}">
    <span>
    TensorFlow
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Keras_logo.webp' %}">
    <span>
    Keras
    </span>
  </p>   
  <p>
    <img src="{% static 'blog/images/PyCharm_Icon.webp' %}">
    <span>
    PyCharm
    </span>
  </p> 
  <p>
    <img src="{% static 'blog/images/449px-Pandas_mark.webp' %}">
    <span>
    Pandas
    </span>
  </p> 
  <p>
    <img src="{% static 'blog/images/Selenium_Logo.webp' %}">
    <span>
    Selenium
    </span>
  </p>
</div>
      
      
<h3 style="margin-top: 100px;">Other Skills </h3>
<hr class="border-col-grey">
      
<div class="about-page-text text-muted"> 
  <p>
    <img src="{% static 'blog/images/Cplusicon.webp' %}">
    <span>
    C++
    </span>
  </p> 
  <p>
    <img src="{% static 'blog/images/Git_icon.webp' %}">
    <span>
    Git
    </span>
  </p> 
  <p>
    <img src="{% static 'blog/images/Android_robot.webp' %}">
    <span>
    Android
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Rlogo.webp' %}">
    <span>
    R
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/Power_BI_Logo.webp' %}">
    <span>
    MS Power BI
    </span>
  </p>
  <p>
    <img src="{% static 'blog/images/LaTeX_logo.webp' %}">
    <span>
    LaTeX
    </span>
  </p>           
</div>

<div class="button-contact-container" >
  <a href="{% url 'contact' %}">
    <button class="btn btn-outline-info" style="margin-top: 35px;">Contact</button>
  </a>
</div>   
  
{% endblock content %}