{% load static %}

<div class="footer">
    <div class="contain">
      <div class="col">
        <h1>Products</h1>
        <ul>
          <li><a class="footer link-footer" href="{% url 'solutions-page' %}">Solutions</a></li>
          <li><a class="footer link-footer" href="{% url 'release-notes-page' %}">Release notes</a></li>
          <li><a class="footer link-footer" href="{% url 'newsletter-page' %}">Newsletter</a></li>
        </ul>
      </div>
      <div class="col"> 
        <h1>Company</h1>
        <ul>
          <li><a class="footer link-footer" href="{% url 'about-page' %}">About</a></li>
          <li><a class="footer link-footer" href="{% url 'blog-posts-page' %}">Blog</a></li>
          <li><a class="footer link-footer" href="{% url 'resources-page' %}">Resources</a></li>
          <li><a class="footer link-footer" href="{% url 'job-page' %}">Jobs</a></li>          
        </ul>
      </div>
      <div class="col">
        <h1>Legal</h1>
        <ul>
          <li><a class="footer link-footer" href="{% url 'terms-page' %}">Terms of use</a></li>
          <li><a class="footer link-footer" href="{% url 'privacy-page' %}">Privacy</a></li>
          <li><a class="footer link-footer" href="{% url 'imprint' %}">Imprint</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Social</h1>
        <ul>
          <li><a class="footer link-footer" href="{% url 'contact' %}">Contact</a></li>
          <li><a class="footer link-footer" href="https://twitter.com/cyoon_dev" target="_blank">Twitter</a></li>
          <li><a class="footer link-footer" href="https://www.instagram.com/chris_ancapistan/" target="_blank">Instagram</a></li>
          <li><a class="footer link-footer" href="https://christopheryoon.substack.com/" target="_blank">Substack</a></li>
        </ul>
      </div>
  
  <div class="clearfix"></div>
  </div>
  <div class="footer-bottom">
    © Copyright - All rights reserved - Keasbey Company LLC - Chris Yoon
  </div>
</div>