{% load static %}
<!DOCTYPE html>
<html>

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:title" content="Yoon Developing" />
<meta property="og:description" content="Software Engineering & Data Science" />
<meta property="og:image" content="{% static 'blog/media/meta-picture.jpg' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="https://www.yoon-dev.com/" />
<meta property="og:type" content="website" />
<title>Chris Yoon Developing</title>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/monokai.min.css">
</head>

<body>
<header class="site-header">
{% include 'blog/basenavbar.html' %}
</header>
  
<main role="main" class="container">
  <div class="row">
    <div class="col-md-9">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="True">&times;</span>
            </button>
              {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% block content %}{% endblock %}
    </div>
      
    <div class="col-md-3 px-0">
      <div class="content-section-right-wrapper">
        <div class="content-section-right">      
          <h6 style="text-align: right;"><p>Apps</p></h6>
          <p class='text-muted'>
              <ul class="list-group" style="list-style-type:none; float: right;">                  
                <li class="side-bar-item" onclick="location.href='{% url 'keasbey-app-product-page' %}';"><code>Keasbey App</code></li>
                <li class="side-bar-item" style="margin-top: 8px;" onclick="window.open('https://github.com/ChristopherYoon89', '_blank');"><code>Github</code></li>
              </ul>
          </p>
        </div>
          
        <div class="content-section-right" style="margin-top: 20px;">
          <h6 style="text-align: right;"><p>Connect</p></h6>
          <p class='text-muted'>
            <ul class="list-group" style="list-style-type:none; float: right;">
              <li class="side-bar-item" onclick="location.href='{% url 'contact' %}';"><code>Contact</code></li>
              <li class="side-bar-item" style="margin-top: 8px;" onclick="window.open('https://twitter.com/cyoon_dev', '_blank');"><code>Twitter</code></li>
              <li class="side-bar-item" style="margin-top: 8px;" onclick="window.open('https://instagram.com/chris_ancapistan', '_blank');"><code>Instagram</code></li>     
              <li class="side-bar-item" style="margin-top: 8px;" onclick="window.open('https://christopheryoon.substack.com/', '_blank');"><code>Substack</code></li>
            </ul>
          </p>
        </div>

        <div class="content-section-right" style="margin-top: 20px;">
          <h6 style="text-align: right;"><p>More</p></h6>
          <p class='text-muted'>
            <ul class="list-group" style="list-style-type:none; float: right;">
              <li class="side-bar-item" onclick="location.href='{% url 'newsletter-page' %}';"><code>Newsletter</code></li>
              <li class="side-bar-item" style="margin-top: 8px;" onclick="location.href='{% url 'job-page' %}';"><code>Jobs</code></li>
              <li class="side-bar-item" style="margin-top: 8px;" onclick="location.href='{% url 'resources-page' %}';"><code>Resources</code></li>
            </ul>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>

<footer>
{% include 'blog/basefooter.html' %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   

{% include 'blog/cookieconsent.html' %}

</body>
</html>