{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<h1 class="col-lgrey mt-0 mb-0">Welcome!</h1>
<div class="col-lgrey mt-0">Software Engineering & Data Science</div>


<hr class="border-col-grey">
<div class="row" style="margin-top: 25px;">
  <ul class="list-unstyled">
    <li class="media">
      <div class="image-solutions">
      <p><img class="mr-3" src="{% static 'blog/images/clipdisplay.png' %}" alt="Fullstack development"></p>
      </div>
      <div class="media-body">
        <h2 class="mt-0 mb-1" style="font-size:15pt;">Full-Stack Development</h2>
        <p class="mt-1">
        Fullstack developing is exciting in many ways, one of which is that it allows me to 
        build holistic systems from scratch and integrate different technologies.
        I usually start from first principles and plan the system's structure, recognizing that 
        a well-organized foundation is a precondition for integrating functionality and thoughtful 
        designs. Fullstack developing includes web applications, desktop software, mobile apps or 
        industrial software.
        </p>
        <p>
          <details>
            <summary class="col-lgrey small">Read More</summary>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'solution-detail' slug='web-development' %}';">Web applications</li>
              <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'solution-detail' slug='desktop-software' %}';">Desktop software</li>
              <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'solution-detail' slug='mobile-applications' %}';">Mobile apps</li>
            </ul>
          </details>
        </p>
      </div>
    </li>

    <li class="media my-4">
      <div class="image-solutions">
          <p>
            <img class="mr-3" src="{% static "blog/images/robotfreeze.png" %}" alt="Data systems and ai"> 
          </p>
      </div> 
      <div class="media-body">
        <h2 class="mt-0 mb-1" style="font-size:15pt;">Data Systems and AI </h2>
        <p class="mt-1">
        In today's world data has become an integral part of most digital technologies, products and business 
        processes. With data gaining in importance businesses increasingly rely on systems such as artificial intelligence, 
        databases, APIs, ETL-pipelines, big data analysis, model simulation or visualizations. In the past I built 
        prediction algorithms for the finance industry, data integrations for marketing businesses or 
        manufacturing systems, crawling bots, recommendation and classification systems or LLMs.
        </p>
        <p>
          <details>
            <summary class="col-lgrey small">Read More</summary>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'solution-detail' slug='data-systems-and-artificial-intelligence' %}';">Data systems and AI</li>
              </ul>
          </details>
        </p>
      </div>
    </li>

    <li class="media my-4">
      <div class="image-solutions">
          <p>
          <img class="mr-3" src="{% static "blog/images/coolrobot.png" %}" alt="Industrial software"> 
          </p>
      </div>
      <div class="media-body">
        <h2 class="mt-0 mb-1" style="font-size:15pt;">Industrial Software</h2>
        <p class="mt-1">
        Industrial software often involves automating and scaling manufacturing processes and the integration and interoperability of data streams.
        Industrial software is generally used in manufacturing systems, but today they are built for all kinds of industries, including 
        logistics and transportation, accounting, banking, insurance or marketing. One of the exciting things about it is not only to automate 
        data streams and business processes, but also to make them more intelligent by implementing AI algorithms.
        </p>
        <p>
          <details>
            <summary class="col-lgrey small">Read More</summary>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'solution-detail' slug='industrial-software-and-automation' %}';">Industrial software</li>
              </ul>
          </details>
        </p>
      </div>
    </li>

    <li class="media my-4">
      <div class="image-solutions">
          <p>
          <img class="mr-3" src="{% static "blog/images/newspsread.png" %}" alt="Weekly Tech Newsletter"> 
          </p>
      </div>
      <div class="media-body">
        <h2 class="mt-0 mb-1" style="font-size:15pt;">Weekly Tech Briefing</h2>
        <p class="mt-1">
        Sign up to my weekly newsletter, which delivers tech news, updates, exciting releases, special 
        offers and other valuable insights straight to your inbox. Designed for clients and tech 
        enthusiasts, the newsletter keeps you informed not only about my products, but also 
        about the world of tech, software, AI, data science, security, surveillance and other related topics without 
        spamming your inbox.
        </p>
        <p>
          <details>
            <summary class="col-lgrey small">Read More</summary>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'newsletter-page' %}'">Sign up</li>
                <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'resources-page' %}'">Download previous newsletters</li>
              </ul>
          </details>
        </p>
      </div>
    </li>
  </ul>
</div>


<div class="button-contact-container">
<a href="{% url 'contact' %}">
  <button class="btn btn-outline-info">Contact</button>
</a>
</div>


<h2 class="col-lgrey" style="margin-top: 100px;">Release Notes</h2>
<hr class="border-col-grey">
<div class="row">
  {% for post in release_notes %}
    <div>
      <article style="margin-top: 35px;">
        <div>
          <h4><a class="url-td" href="{% url 'release-note-detail' post.slug %}">{{ post.title }}</a></h4>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
            </div>
            <p>{{ post.snippet | safe }}</p>
        </div>
        </article>
    </div>
  {% endfor %}
</div> 


<div class="button-contact-container">
  <a href="{% url 'release-notes-page' %}">
    <button class="btn btn-outline-info">Read more</button>
  </a>
</div>


<h2 class="col-lgrey">My Stack</h2>
<hr class="border-col-grey">

<div class="about-page-text text-muted">
  <p><img src="{% static 'blog/images/Python_logo.webp' %}"><span>Python</span></p>
  <p><img src="{% static 'blog/images/Django-Icon.webp' %}"><span>Django</span></p>
  <p><img src="{% static 'blog/images/JavaScript-Icon.webp' %}"><span>JavaScript / React</span></p>
  <p><img src="{% static 'blog/images/Java-Icon.webp' %}"><span>Java</span></p>
  <p><img src="{% static 'blog/images/Sql_data_base_with_logo.webp' %}"><span>SQL</span></p>
  <p><img src="{% static 'blog/images/Microsoft_Azure.webp' %}"><span>Microsoft Azure</span></p>
  <p><img src="{% static 'blog/images/Linux_logo.webp' %}"><span>Linux</span></p>
</div>


<div class="button-contact-container">
  <a href="{% url 'about-page' %}">
    <button class="btn btn-outline-info">Read more</button>
  </a>
</div>


<h2 class="col-lgrey" style="margin-top: 120px;">Blog</h2>
<hr class="border-col-grey">
<div class="row">
  {% for post in posts %}
  <div>
    <article style="margin-top: 35px;">
      <div>
        <h4><a class="url-td" href="{% url 'blog-detail' post.slug %}">{{ post.title }}</a></h4>
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
          </div>
          <p>{{ post.snippet | safe }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
</div> 


<div class="button-contact-container">
  <a href="{% url 'blog-posts-page' %}">
    <button class="btn btn-outline-info">Read more</button>
  </a>
</div>


<h2 class="col-lgrey" style="margin-top: 120px;">Solutions</h2>
<hr class="border-col-grey">

<div class="about-page-text text-muted">
  <p><img src="{% static 'blog/images/css.png' %}"><a class="url-col" href="{% url 'solution-detail' slug='web-development' %}"><span>Web development</span></a></p>  
  <p><img src="{% static 'blog/images/imac.png' %}"><a class="url-col" href="{% url 'solution-detail' slug='desktop-software' %}"><span>Desktop software</span></a></p>
  <p><img src="{% static 'blog/images/phoneapps.png' %}"><a class="url-col" href="{% url 'solution-detail' slug='mobile-applications' %}"><span>Mobile apps</span></a></p>
  <p><img src="{% static 'blog/images/robotfreeze.png' %}"><a class="url-col" href="{% url 'solution-detail' slug='data-systems-and-artificial-intelligence' %}"><span>Data systems and AI</span></a></p>
  <p><img src="{% static 'blog/images/coolrobot.png' %}"><a class="url-col" href="{% url 'solution-detail' slug='industrial-software-and-automation' %}"><span>Industrial software & automation</span></a></p>
</div>


<div class="button-contact-container">
  <a href="{% url 'contact' %}">
    <button class="btn btn-outline-info">Contact</button>
  </a>
</div>
{% endblock content %}