{% load static %}
<!DOCTYPE html>
<html>

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:title" content="Yoon Developing" />
<meta property="og:description" content="Software Engineering & Data Science" />
<meta property="og:image" content="{% static 'blog/media/meta-picture.jpg' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="https://www.yoon-dev.com/" />
<meta property="og:type" content="website" />
<title>Chris Yoon Developing</title>

<!-- CSS Stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

<!-- Event Listener for Mobile Version for Burger-->
<script>
document.addEventListener("DOMContentLoaded", function () {
  const toggle = document.getElementById("navToggle");
  const menu = document.getElementById("navbarMenu");

  toggle.addEventListener("click", function () {
    menu.classList.toggle("active");
  });
});
</script>
</head>

<body>

<header>
  {% include 'blog_ger/basenavbar_ger.html' %}
</header>
  
<main class="container main-content">
  <div class="layout">

    <!-- LEFT/MIDDLE content -->
    <div class="content">
      {% block content %}{% endblock %}
    </div>
      
    <!-- RIGHT: sidebar -->
    <aside class="sidebar">
      <div class="sidebar-section">
        <h5 class="col-purple mt-0">Apps</h5>
        <ul>
          <li>
            <a href="https://github.com/ChristopherYoon89" target="_blank">
              <code>Github</code>
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar-section">
        <h5 class="col-purple">Connect</h5>
        <ul>
          <li>
            <a href="{% url 'contact-page-ger' %}">
              <code>Kontakt</code>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/cyoon_dev" target="_blank">
              <code>Twitter</code>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/chris_ancapistan" target="_blank">
              <code>Instagram</code>
            </a>
          </li>
          <li>
            <a href="https://christopheryoon.substack.com/" target="_blank">
              <code>Substack</code>
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar-section">
        <h5 class="col-purple">Mehr</h5>
        <ul>
          <li>
            <a href="{% url 'newsletter-page-ger' %}">
              <code>Newsletter</code>
            </a>
          </li>
          <li>
            <a href="{% url 'job-page-ger' %}">
              <code>Jobs</code>
            </a>
          </li>
          <li>
            <a href="{% url 'resources-page-ger' %}">
              <code>Downloads</code>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</main>

<footer>
{% include 'blog_ger/basefooter_ger.html' %}
</footer>

{% include 'blog/cookieconsent.html' %}

</body>
</html>