{% extends "blog_ger/base_ger.html" %}
{% load static %} 
{% block content %}  

<div class="row">
  <article class="media content-section" style="background-color: #eff5fb;">
    <div class="media-body">
      <span class="backlink" style="font-size: 10pt;" onClick="window.history.back();return false;"><- Zurück</span> 
      
      <h2 style="margin-top: 25px;"> {{ post.title }}</h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
        </div>
      <hr>
      <p class="article-content">{{ post.content | safe }}</p>
    </div>
  </article>

  <div class="media content-section" style="background-color: #eff5fb;">
  <div class="media-body">
    <div class="body-further-reading" style="margin-top:100px;">
      <p><h3>Mehr Blog Posts</h3></p>
      <hr>
    </div>
    {% for post in all_blog_posts %}
      <article class="media-body">      
        <h5><a class="article-title" href="{% url 'blog-detail-ger' post.slug %}">{{ post.title }}</a></h5>
          <div class="article-metadata">            
            <span>{{ post.author }}<a><small class="text-muted" style="margin-left: 5px;">{{ post.date_posted | date:"F j, Y" }} </small></a></span>
          </div>
      </article>
    {% endfor %}
  </div>    
</div>
</div>
{% endblock content %}