{% extends "blog_ger/base_ger.html" %}
{% load static %} 
{% block content %}  

<h1>Privacy Policy</h1>
<hr>

<div class="row">
  <article>
  <div class="media content-section" style="background-color: #eff5fb;">
    <div class="media-body">

      <p class="tou-content-header">
      <h3>About this policy</h3>
      </p>

      <p class="tou-content">
        This Privacy Policy (referred to as "Policy") describes how we process your personal data at Keasbey Company LLC 
        (referred to as "Keasbey Company") and applies to the user data on the website with the domain <u>https://www.yoon-dev.com</u> 
        and its subdomains. The Policy applies to the user's access of the website and its content as well as the access and use of
        Keasbey Company applications (referred to as "Keasbey Services").
      </p>

      <p class="tou-content">
        The privacy policy is a separate document distinct from the Terms of Use, of which the latter is a legally binding contract between you 
        and Keasbey Company and outlines the user rights and obligations. This Policy outlines key information about your personal data. Keasbey 
        Company complies with different data privacy norms and regulations, including the EU data privacy regulations.
      </p>
      
      <p class="tou-content-header">
        <h3>Cookies policy</h3>
      </p>

      <p class="tou-content-header">
        <h5>What are cookies?</h5>
      </p>

      <p class="tou-content">
      Cookies are files saved on your phone, tablet or computer when you visit a website. For mobile apps we use so-called browser 
      trackers instead of cookies, but they have the same function as cookies. In this document we use the 
      term "Cookies" for both cookies as well as trackers. 
      </p>

      <p class="tou-content">
      This website uses so-called “technical” cookies and other similar trackers to carry out activities 
      that are strictly necessary for the operation or delivery of the Keasbey Service. Some of the purposes 
      for which trackers are used may also require your consent. Whenever consent is given, it can be freely
      withdrawn at any time by deleting your browser data. 
      </p>


      <p class="tou-content">
      This website uses cookies managed directly by us (so-called “first-party” cookies) and cookies that 
      enable services provided by a third-party (so-called “third-party” cookies). Unless otherwise 
      specified within this document, third-party providers may access the cookies managed by them.
      </p>

      <p class="tou-content-header">
      <h5>Displaying content from external platforms</h5>
      </p>

      <p class="tou-content">
      This type of service allows you to view content hosted on external platforms directly from the pages of 
      this website and interact with them. Such services are often referred to as widgets, which are small 
      elements placed on a website or app. They provide specific information or perform a particular function 
      and often allow for user interaction. This type of service might still collect web traffic data for the 
      pages where the service is installed, even when you do not use it.
      </p>

      <p class="tou-content-header">
      <h5>Google Fonts and Analytics (Google LLC)</h5>
      </p>

      <p class="tou-content">
      Google Fonts is a typeface visualization service provided by Google LLC that allows this website to 
      incorporate content of this kind on its pages. Keasbey Company does not directly retrieve data from the
      Google fonts services and instead directly hosts Google fonts (Roboto) on our servers. However, Keasbey 
      Company uses bootstrap for styling, which might access Google fonts indirectly.
      </p>

      <p class="tou-content">
      Google Analytics (Universal Analytics) is a web analysis service provided by Google LLC (“Google”). We use Google Analytics 
      to analyze user and usage data. Google utilizes the Data collected to track and examine the use of this website, to prepare 
      reports on its activities and share them with other Google services. Google may use the Data collected to contextualize and 
      personalize the ads of its own advertising network.
      </p>


      <p class="tou-content-header">
      <h5>Google ReCaptcha and Cloudflare Protection</h5>
      </p>
  
      <p class="tou-content">
      Google ReCaptcha is a cyber security protection system provided by Google LLC that secures this website
      and a variety of forms, including our contact form, newsletter sign up form and registration or login pages 
      of Keasbey Services. Cloudflare is a cyber security protection service that monitors traffic of this 
      website in order to keep Keasbey Services secure. Both Google ReCaptcha as well as Cloudflare analyze 
      traffic of this website and other Keasbey Services and might analyze user data.
      </p>

      <p class="tou-content-header">
      <h3>Your personal rights</h3>
      </p>
  
      <p class="tou-content">
      Many privacy laws give rights to individuals over their personal data. These laws include the General Data Protection 
      Regulation, or 'GDPR'. In the following sections the Policy will outline what your rights are according to the GDPR 
      and how Keasbey Company complies with these regulations.
      </p>

      <p class="tou-content-header">
      <h5>Be informed</h5>
      </p>

      <p class="tou-content">
      You have the right to be informed about the personal data Keasbey Company stores about you and how Keasbey Company 
      processes this data. Keasbey Company engages in a couple of ways of how the User is getting informed 
      about his or her personal data. This includes:
        <ul>
          <li>the Privacy Policy outlined in this document</li>
          <li>answers to specific requests via our <a href="{% url 'contact' %}"><u>contact form</u></a></li>
        </ul> 
      </p>


      <p class="tou-content-header">
      <h5>Access</h5>
      </p>

      <p class="tou-content">
      You have the right to request access to your personal data based on Article 15 of the GDPR. There are 
      two ways of how you can access your personal data.
        <ul>
          <li>As part of Keasbey Services, in which you can sign up and manage your own account 
            data you can download your data in the profile section of the User Area.</li>
          <li>You can file a request via our <a href="{% url 'contact' %}"><u>contact form</u>
          </a></li>
        </ul>
      </p>


      <p class="tou-content-header">
      <h5>Rectification</h5>
      </p>

      <p class="tou-content">
      The User has the right to update his or her personal data or file a request to amend or update your 
      personal information, if something is inaccurate or incomplete. You can update your information either by
        <ul>
          <li>updating your personal information on your profile section on websites and Keasbey 
            Services that require a user account or</li>
          <li>by filing a request to update your information via our <a href="{% url 'contact' %}"><u>contact form</u></a></li>
        </ul>
      </p>


      <p class="tou-content-header">
      <h5>Erase</h5>
      </p>

      <p class="tou-content">
      You have the right to request that we erase your personal data. Usually, 
      we erase all your personal data. There are a few cases, in which Keasbey Company is unable to delete your data.
      For instance, if there is a legal obligation to keep your data or if the data is necessary to prevent 
      fraud. Another case could be data necessary to resolve legal conflicts. In order to file a request 
      you can use our <a href="{% url 'contact' %}"><u>contact form</u></a>.
      </p>


      <p class="tou-content-header">
      <h5>Other Rights</h5>
      </p>

      <p class="tou-content">
      In addition to these rights described above you have the right to restrict, object, portability, not to be 
      subject of automated decision making, to withdrawal from consent or the right to file a complain. You 
      can restrict your data if your personal data is inaccurate, our processing is unlawful or if we do not need 
      your personal data for a specific purpose. In order to file a request in regard to these rights
      you can use our <a href="{% url 'contact' %}"><u>contact form</u></a>.
      </p>


      <p class="tou-content-header">
      <h3>Personal data we collect about you</h3>
      </p>

      <p class="tou-content">
      Depending on the specific Keasbey Service you use Keasbey Company collects a bunch of personal data from 
      you in order to provide the Keasbey Service and to comply with financial regulations and taxes. Keasbey
      Company has no interest and does not engage in selling your personal data with third parties. In specific 
      instances your personal data can be shared with third parties if this necessary, for instance, 
      if you use a payment gateway for a subscription service. If you sign up for a Keasbey Service
      Keasbey Company collects the following data as part of your registration process:
      <ul>
        <li>Profile name</li>
        <li>Email address</li>
        <li>Password</li>
      </ul>
      </p>

      <p class="tou-content">
      In addition to the personal data, Keasbey Company collects data if a user registers to a Keasbey Service through 
      a paid subscription plan in order to comply with financial regulations and taxes.        
        <ul>
          <li>Country of residence</li>
          <li>Address</li>
          <li>Phone number</li>
          <li>Subscription plan</li>
          <li>Amount of transfer</li>
          <li>Date of registration</li>
          <li>Payment method</li>
          <li>Other payment information</li>
        </ul>
      </p>

      <p class="tou-content">
      Another category of data we collect from you is technical data required to run the Keasbey Services. This data 
      category includes the following information:   
        <ul>
          <li>App usage history</li>
          <li>Bandwith usage</li>
          <li>Data that is stored as part of your app usage such as crawled web data or SEO reports</li>
          <li>Cookie data</li>
        </ul>
      </p>

      <p class="tou-content">
      If you contact Keasbey Company via contact form, we collect and analyze the following data:  
        <ul>
          <li>Email</li>
          <li>Name</li>
          <li>Subject</li>
          <li>Message</li>
        </ul>
      </p>    
      
      <p class="tou-content">
      If you sign up for the Keasbey Company newsletter we collect and analyze the following user 
      data:  
        <ul>
          <li>Email</li>
          <li>
            Data on user behavior, such as whether you opened the newsletter or which links 
            were opened. Please note that Keasbey Company does not tie this information to any specific 
            user account or email address. However, services that track these data (UTM code provider) 
            could potentially collect your IP address and tie your IP to a certain user behavior.
          </li>
        </ul>
      </p>

      
      <p class="tou-content-header">
      <h3>How we use your data</h3>
      </p>

      <p class="tou-content">
      Keasbey Company LLC has no interest in using or selling your personal data. However, Keasbey 
      Company is obligated by law to store some of your personal data in order to comply with financial regulations 
      and taxes. Moreover, some of your data needs to be stored because the storage is necessary to run the 
      the Keasbey Services for you. In addition to this, we analyze usage data to improve the user experience and security of the 
      Keasbey Services. In doing so, we anonymize user data, so that no personal information gets disclosed to 
      anyone who has access to these datasets.
      </p>

      <p class="tou-content">
      Keasbey Company does not use any user data for advertising or other
      illegit activities with the exception of your Email address, which is used for the Keasbey newsletter, 
      from which you can unsubscribe in the email. We don't share any of your personal information neither with 
      third parties nor on our website with the exception of Paid Subscription Plans, in which we share your 
      invoice data with your payment provider. 
      </p>

      <p class="tou-content-header">
      <h3>How we keep your personal data safe</h3>
      </p>

      <p class="tou-content">
      Keasbey is committed to protecting our users' personal data. We put in place appropriate technical and 
      organisational measures to help protect the security of your personal data. However, be aware that 
      no system is ever completely secure. We have put various safeguards in place to guard against 
      unauthorised access and unnecessary retention of personal data in our systems. These include 
      pseudonymisation, encryption, access, and retention policies. We also use Google ReCaptcha as well 
      Cloudflare Protection to secure Keasbey Services against cyber attacks.
      </p>

      <p class="tou-content">
        To protect your user account, we encourage you to:
        <ul>
          <li>use a strong password which you only use for your Keasbey account</li>
          <li>never share your password with anyone</li>
          <li>limit access to your computer and browser</li>
          <li>log out once you have finished using the Keasbey Services on a shared device</li>
        </ul>
      </p>

      <p class="tou-content">
      If other individuals have access to your Keasbey account, then they can access 
      personal data, controls and the Keasbey Service available in your account. For 
      example, you might have allowed someone to use your account on a shared device.
      It's your responsibility to only allow individuals to use your account where you're comfortable sharing this 
      personal data with them. Anyone else's use of your Keasbey account may impact your personalised 
      recommendations and be included in your data download.
      </p>

      <p class="tou-content-header">
      <h3>Children</h3>
      </p>

      <p class="tou-content">
      We do not knowingly collect or use personal data from children under the applicable Age 
      Limit. If you're under the Age Limit of your specific country, do not use the Keasbey 
      Services, and do not provide any personal data to Keasbey Company. If you're a parent of a child 
      under the Age Limit and become aware that your child has provided personal data to Keasbey Company, 
      <a href="{% url 'contact' %}"><u>contact us</u></a>.
      </p>


      <p class="tou-content-header">
      <h3>Changes to this policy</h3>
      </p>


      <p class="tou-content">
      We may occasionally make changes to this Policy. When we make material changes to this
      Policy, we'll provide you with prominent notice as appropriate under the circumstances. 
      For example, we may display a prominent notice within the Keasbey Service or send you an 
      email or device notification on mobile apps.
      </p>


      <p class="tou-content-header">
      <h3>How to contact us</h3>
      </p>

      <p class="tou-content">
      For any questions or concerns about this Policy, contact Keasbey Company 
      any one of these ways:

      <ul>
        <li><a href="{% url 'contact' %}"><u>contact form</u></a></li>
        <li>Keasbey Company LLC, Yardanskij Put BB, 85311 Budva, Montenegro</li>
      </ul>
      </p>        
    </div>
    </div>
  </article>
</div>
{% endblock content %}