{% extends "blog_ger/baseproductpage_ger.html" %}
{% load static %} 
{% block content %}  

<h1>Keasbey App</h1>
Next-Level Digitales Marketing und SEO Analyse
<hr>

<video autoplay loop muted plays-inline class="keasbey-video">
<source src="{% static 'blog/media/Product-video.webm' %}" type="video/webm">
</video>

<div class="button-contact-container">
<a href="{% static 'newsletter-page' %}">
<button class="btn btn-outline-info">Sign Up</button>
</a>
</div>

<hr>
<div class="row" style="padding-left:15px; padding-right:15px;">

    <article style="margin-top: 15px;">
      <div>
        <h4>Save the Date: Keasbey Company veröffentlicht offizielles Release Datum!</h4>
        <div class="article-metadata">
          <a class="mr-2" href="#">Keasbey Company</a>
          <small class="text-muted">14. Dezember 2024</small>
        </div>
      
        <div>
        Nun ist es offiziell! Die freie Version unseres neuesten Produktes <code>Keasbey App</code> 
        — eine browserbasierte Marketing-Anwendung — geht am 10. Januar 2025 live. Derzeit 
        arbeiten wir daran, die App auf einem externen Server zu hosten. Die <code>Keasbey 
        App</code> integriert verschiedene Marketing Tools, die wir im Laufe der Jahre für 
        unsere Kunden entwickelten, in eine einzige Applikation für digitale Marketing-Experten. 
        Mit Funktionen wie Projekt- und Kampagnenmanagement, SEO- und Keyword-Analysen, 
        Daten-Crawling und KI-gestützten Tools ist die <code>Keasbey App</code> darauf ausgelegt, 
        eine breite Palette an Anforderungen im digitalen Marketing zu erfüllen.
        </div>

        <div style="margin-top: 15px;">
        Während wir die Demo Version kostenlos zur Verfügung stellen, können wir die Vollversion 
        nicht frei anbieten, da die erweiterten Funktionen komplexe Prozesse und leistungsstarke 
        KI-Technologien umfassen, die eine stärkere Hardware und mehr Bandbreitenressourcen 
        erfordern und daher Kosten verursachen und gewartet werden müssen.
        </div>

        <div style="margin-top: 15px;">
        Ab sofort können Sie sich für unseren neuen wöchentlichen 
        <a href="{% static 'newsletter-page-ger' %}"><u>Newsletter registrieren</u></a> um am Ball 
        zu bleiben und zu erfahren, wann die <code>Keasbey App</code> live geht.
        </div>
        
        <h4 style="margin-top: 35px;">Was erwartet Sie?</h4>
        <div class="row" style="margin-top: 25px;">
        <div class="col-md-6">
          <ul style="list-style: none; font-size: 12pt; list-style-type: '\2713';">
            <li><span style="margin-left: 15px;">Optimieren Sie das Ranking Ihrer Website in Suchmaschinen</span></li>
            <li><span style="margin-left: 15px;">Nutzung von Crawling-Bots, um Daten aus dem Web zu extrahieren</span>  </li>
            <li><span style="margin-left: 15px;">Analysieren Sie Ihre Website und deren User Experience</span></li>
            <li><span style="margin-left: 15px;">Verwalten Sie Ihre Kampagnen mit einem Projektmanager</span></li>
          </ul>
        </div>
        
        <div class="col-md-6">
          <ul style="list-style: none; font-size: 12pt; list-style-type: '\2713'; margin-left: 5px;">
            <li><span style="margin-left: 15px;">Organisieren Sie Ihre Aktivitäten mit einem Taskmanager</span></li>
            <li><span style="margin-left: 15px;">Tracking und Analyse der Performance Ihrer Kampagnen</span></li>
            <li><span style="margin-left: 15px;">Erstellung und Automatisierung von Marketingberichten</span></li>
            <li><span style="margin-left: 15px;">Analysieren Sie Ihre Branche</span></li>
          </ul>
        </div>
      </div>
    </div>
  </article> 
</div> 


<div class="product-page-container">    
  <div class="row" id="product-page-row">
    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon6.png' %}" class="product-page-icon"></p>
        <p class="product-page_description-header">Online Marketing Tools</p>
        <p class="product-page-description-text">
        Keasbey App bietet eine 
        The app provides a variety of different online marketing tools, ranging from 
        search engine optimization to data crawlers.
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon15.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">SEO</p>

        <p class="product-page-description-text">
        Use different tools to make your website SEO friendly and gain a higher ranking 
        in search engine results. 
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon16.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Data Crawler</p>

        <p class="product-page-description-text">
        Deploy crawling bots to extract different kinds of data from website, including 
        keywords, contact details, tables, files, etc. 
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon17.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Website Audit</p>

        <p class="product-page-description-text">
        Use auditing tools to optimize your website and the user experience, such as 
        code analysis, security tests, mobile tests or accessibility.
        </p>
      </div>
    </div>
  </div>


  <div class="row" id="product-page-row2">
    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon9.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Project Manager</p>

        <p class="product-page-description-text">
        Manage and organize your marketing campaigns using the project manager, including 
        adding, editing or deleting projects. 
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon18.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Task Manager</p>

        <p class="product-page-description-text">
          Keep track of your tasks, update their status and assign them to projects. 
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon19.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Social Media Manager</p>

        <p class="product-page-description-text">
            Manage, optimize and track your social media profiles.
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon7.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Dashboard</p>

        <p class="product-page-description-text">
        Use and customize your dashboard to manage and track your marketing campaigns and tools.                 
        </p>
      </div>
    </div>

  </div>


  <div class="row" id="product-page-row3">
    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon11.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Analytics</p>

        <p class="product-page-description-text">
        Use analysis and visualization tools to track the performance of your marketing 
        campaigns and activities.                  
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon20.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Automate Reporting</p>

        <p class="product-page-description-text">
        Create and automate reports of your marketing projects and activities.
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon21.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Export Data</p>

        <p class="product-page-description-text">
        Export the data generated by marketing and crawling tools as csv or excel files.
        </p>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="product-page-description-container">
        <p><img src="{% static 'blog/media/product-page-icon14.png' %}" class="product-page-icon"></p>

        <p class="product-page_description-header">Free Access</p>

        <p class="product-page-description-text">
        The app has not been commercialized yet. So most functionalities of the 
        tool can be accessed for free.
        </p>
      </div>
    </div> 
</div>
</div>

<div class="button-contact-container">
<a href="{% static 'newsletter-page' %}">
<button class="btn btn-outline-info">Sign Up</button>
</a>
</div>

{% endblock content %}