{% extends "blog_ger/base_ger.html" %}
{% block content %}

<h1>Release Notes</h1>
<hr>
<div class="row" style="padding-left:15px; padding-right:15px;">
  {% for post in release_notes %}
    <div>
      <article style="margin-top: 15px;">
        <div>
          <h4><a href="{% url 'release-note-detail-ger' post.slug %}">{{ post.title }}</a></h4>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
            </div>
            <p>{{ post.snippet | safe }}</p>
          <p><a class="read-more-notes" href="{% url 'release-note-detail-ger' post.slug %}">Mehr lesen </a></p>
        </div>
    </div>
    <hr>
    </article>
  {% endfor %}
</div>

{% endblock content %}