{% extends "blog_ger/base_ger.html" %}
{% block content %}

<h1>Downloads</h1>
<hr>
<div style="margin-top: 25px;">
{% for resource in resources %}
<div class="row" style="padding-left:15px; padding-right:15px;">
        <div>
                <article>
                        <div>
                                <p class="small"><a href="{% url 'resources-detail-page-ger' resource.slug %}">{{ resource.name }}</a>
                                <span class="text-muted"><small style="margin-right: 25px; margin-left: 25px;">{{ resource.uploaded_on | date:"F j, Y" }}
                                </small><a href="{{ resource.file.url }}" download><small>Download</small></a></span></p>
                        </div>
                </article>
        </div>
        <hr>
</div>
{% endfor %}
</div>

{% endblock content %}
