{% extends "blog_ger/base_ger.html" %}
{% load static %} 
{% block content %}

<div>
  <span><h1> Terms of Use</h1><small class="text-muted">Last change on 30 August 2024</small></span>
  <hr>
</div>

<div class="row">
  <article>
  <div class="media content-section" style="background-color: #eff5fb;">
    <div class="media-body">

      <p class="tou-content">
      <h3>Introduction</h3>
      </p>

      <div class="tou-content">
      Please read these Terms of Use (referred to as "Terms") because they govern your use 
      of (which includes access to) Keasbey Company applications, software and content
      (referred to as "Keasbey Services"), including access to information on the website 
      and access to a variety of apps and other content. These Terms are also applicable 
      to other websites and software applications that incorporate or link to these Terms. 
      The Keasbey Service includes the domain <a href="https://www.yoon-dev.com" 
      target="_blank"><u>https://www.yoon-dev.com</u></a> and all its subdomains as well as 
      domains that are related to Keasbey Company LLC and link to these Terms of Use.
      </p>

      <p class="tou-content">
      By registering as a user or accessing the website or other Keasbey Services, you agree 
      to these Terms. If you do not agree to these Terms, then you must not use the content 
      or the apps provided on this website. The Terms are between you (the "User") and the 
      Keasbey Company LLC, Yardanski Put BB, 85310 Budva, Montenegro (referred to as "Keasbey 
      Company").
      </p>

      <p class="tou-content">
      In order to access and use Keasbey Services on this website users have to fulfil a 
      variety of conditions: 
      
      <ul>
        <li>
          you need to be at least 13 years of age (or the equivalent minimum age in your 
          home country),
        </li>
        
        <li>
          have parent or guardian consent if you are a minor in your home country, 
        </li>
        
        <li>
          have the power to enter a binding contract with us and not be barred from doing so 
          under any applicable laws, 
        </li>
        
        <li>
          and reside in a country where the website is available.
        </li> 
      </ul>
      </p>

      <p class="tou-content">
      You also agree that any registration information that you submit to Keasbey Company is 
      true, accurate, and complete and you agree to update your information if your provided 
      info changed. If you are a minor in your home country, your parent or guardian will need 
      to enter into these Terms of Use on your behalf.
      </p>
      
      <p class="tou-content-header">
      <h3>The Keasbey Services</h3>
      </p>

      <p class="tou-content">
      Keasbey Company provides a variety of services (referred to as "Keasbey Services"), 
      including content on the website as well as apps on the website or on third party pages 
      and applications such as GitHub or mobile app stores. Certain services are free-of-charge, 
      while other options might require a subscription payment or a fixed rate before they can 
      be accessed and used (referred to as "Paid Subscriptions"). From time to time Keasbey 
      Company may also offer special promotional plans, memberships, or services, including 
      offerings of third-party products and services. We are not responsible for the products 
      and services provided by such third parties. Depending on your local laws some services 
      or Paid Subscription plans might not be accessable in certain countries.
      </p>

      <p class="tou-content">
      From time to time, Keasbey Company or others on our behalf may offer trials of Paid 
      Subscriptions for a specified period without payment or at a reduced rate (a "Trial"). By 
      using a Keasbey Service via a Trial, you agree to additional Terms of Use for Premium 
      Promotional Offers, if there are any.
      </p>  
      
      <p class="tou-content-header">
      <h3>Third-Party Applications, Devices and Open Source Software</h3>
      </p>
      
      <p class="tou-content">
      Keasbey Services may be integrated with or can interact with third-party applications, 
      websites, and services ("Third-Party Applications") and third-party personal computers, 
      mobile handsets, tablets, wearable devices, speakers, screens and other devices ("Devices"). 
      Your use of such Third-Party Applications and Devices may be subject to additional terms, 
      conditions and policies determined by the respective third party. Keasbey Company does not 
      guarantee that Third-Party Applications and Devices will be compatible with the Keasbey 
      Services.
      </p>

      <p class="tou-content-header">
      <h3>Service Limitations and Modifications</h3>
      </p>

      <p class="tou-content">
      We use reasonable care and skill to keep the Keasbey Services operational and to 
      provide you with a personalized, immersive user experience. However, the availability of 
      Keasbey Company's service offerings might be compromised from time to time and subject to 
      applicable laws, without liability to you. This may be the case when:
      </p>

      <p class="tou-content">
      <ul>
        <li>
          The Keasbey Service may experience temporary interruptions due to technical 
          challenges, maintenance, testing, or updates, including those required to make the 
          website more secure or to abide to changes in relevant laws and regulations.
        </li> 

        <li>
          We aim to change and improve Keasbey Services constantly, and we may modify, suspend, 
          or stop (permanently or temporarily) providing all or part of the Keasbey Services 
          (including particular features, functions, subscription plans and promotional 
          offerings).
        </li>

        <li>
          Keasbey has no obligation to provide any specific content through our services 
          and Keasbey may remove particular data that was uploaded by users.
        </li>
      </ul>
      </p>

      <p class="tou-content">
      Keasbey Company has no liability to you, nor any obligation to provide a refund to you, in 
      relation to internet outages or other service failures that are caused by the actions of 
      government authorities, other third parties or events that are beyond our control.
      </p>

      <p class="tou-content-header">
      <h3>Use of the Keasbey Services</h3>
      </p>

      <p class="tou-content-header">
      <h5>Creating a Keasbey Company account</h5>
      </p>

      <p class="tou-content">
      For certain apps or services you may need to sign up and create a Keasbey Company account. 
      Your username and password are for your personal use only and should be kept confidential. 
      You understand that you are responsible for the use of your username and password (including 
      any unauthorized use). You are obliged to notify us via our <a href="{% url 'contact' %}" 
      target="_blank"><u>contact form</u></a> immediately if your username or password is lost or 
      stolen, or if you believe there has been unauthorized access to your account. Keasbey Company 
      may reclaim, or require you to change, your username for any reason. If this is the case, we 
      change your login credentials and send new credentials via email to you. Please note, that we 
      do not ask you to change your credentials via email.
      </p>

      <p class="tou-content-header">
      <h5>Your rights to use our services</h5>
      </p>

      <p class="tou-content">
      In return to your compliance with these Terms of Use (including any additional terms related to 
      special offers), we grant to you limited, non-exclusive, revocable permission to make use of 
      the Keasbey Services and the content provided on the website. What is not allowed is that you 
      distribute our Services commercially to third parties. The access to this content and services 
      shall remain in effect unless and until terminated by you or by Keasbey Company. You agree that 
      you will not commercially redistribute or transfer the Keasbey Services to other subjects or 
      third parties.
      </p> 

      <p class="tou-content">
      Since Keasbey Company provides applications for businesses, you have the right to use our Services 
      for your commercial activities. Generic software applications and content provided by the Keasbey 
      Company website are licensed, not sold or transferred to you, and Keasbey Company and its licensors 
      retain ownership of all copies of the software applications and Content even after installation on 
      your device. Software applications that are individually built for your business, you gain ownership 
      over the software. However, Keasbey Company reserves the right to reuse code that was developed as 
      part of your individual solutions.
      </p>
        
      <p class="tou-content">        
      The Keasbey Service and the content are the property of Keasbey Company or its licensors. All 
      Keasbey Company trademarks, service marks, trade names, logos, domain names, and any other features 
      of the Keasbey Company brand are the sole property of Keasbey Company or its licensors. These Terms 
      do not grant you any rights to use any Keasbey Company brand features whether for commercial or 
      non-commercial use.
      </p>
      
      <p class="tou-content">
      You agree to abide by the Keasbey Company terms of use and not to use the Keasbey Company services 
      and content, or any part thereof in any manner not expressly permitted by these Terms of Use.
      </p>

      <p class="tou-content-header">
      <h5>Payments and cancellation</h5>
      </p>

      <p class="tou-content">
      You may purchase a Paid Subscription directly from Keasbey Company or through a third party by 
      paying a subscription fee in advance on a monthly basis or some other recurring interval disclosed 
      to you prior to your purchase. Tax rates are calculated based on the information you provide and 
      the applicable rate at the time of your monthly charge.
      </p>

      <p class="tou-content">
      If you purchase access to a Paid Subscription through a third party, separate terms 
      and conditions with such third party may apply to your use of the Keasbey Services in 
      addition to these Terms. If you purchase a Paid Subscription using a code, gift card, 
      pre-paid offer, or other offer provided or sold by or on behalf of Keasbey Company for access 
      to a Paid Subscription, you hereby agree to the Terms of Use of Keasbey.
      </p>

      <p class="tou-content">
      From time to time Keasbey Company may change the price for Paid Subscription options, including 
      recurring subscription fees, the Pre-Paid Period (for periods not yet paid), or 
      subscription plans and will communicate any price changes to you in advance on reasonable 
      notice. Price changes will take effect at the start of the next subscription period, if not 
      stated otherwise, following the date of the price change. Subject to applicable law, by continuing 
      to use the Keasbey Services after the price change takes effect, you will have accepted the new 
      price. If you do not agree to price modifications, you can reject the change by unsubscribing
      from the applicable Paid Subscription prior to the price change going into effect.
      </p>

      <p class="tou-content">
      Since Keasbey Company is forced to pay taxes, subscription fees also includes tax rates, which 
      are based on the rates applicable at the time of your monthly charge. These amounts can change 
      over time depending on local tax requirements in your country, state, territory or even city. 
      Any change in tax rates will be automatically applied based on the account information you 
      provide.
      </p>

      <p class="tou-content">
      With the exception of Paid Subscriptions for a Pre-Paid Period, your payment to 
      Keasbey Company or the third party through which you purchased the Paid Subscription will 
      automatically renew at the end of the applicable subscription period, unless you 
      cancel your Paid Subscription before the end of the then-current subscription period. 
      In order to cancel your subscriptions you can contact us or you can unsubscribe from 
      your subscription in your profile page. The cancellation will take effect the day after 
      the last day of the current subscription period, and you will be downgraded to the free 
      version of the Keasbey Service. We do not provide refunds or credits for any partial 
      subscription periods, except as expressly stated in these Terms.
      </p>

      <p class="tou-content">
      If you have purchased a Paid Subscription using a promotion code, your subscription will 
      automatically terminate at the end of the period stated in the Code, or when there is 
      an insufficient pre-paid balance to pay for the Keasbey Service.
      </p>

      <p class="tou-content-header">
      <h5>Right to withdraw</h5>
      </p>

      <p class="tou-content">
      If you sign up for a free Trial, you agree that the withdrawal right for the Paid 
      Subscription for which you are receiving a Trial ends fourteen (14) days after 
      you start the Trial. If you don't cancel the Paid Subscription before the Trial 
      ends, you lose your right of withdrawal and authorise Keasbey Company to automatically 
      charge you the agreed price each month until you cancel the Paid Subscription. 
      For trials less than fourteen (14) days, you expressly consent to us providing 
      you with the paid service immediately after the end of your Trial and that from 
      that point you lose your right of withdrawal.
      </p>

      <p class="tou-content">
      If you purchase a Paid Subscription without a trial period, you have fourteen 
      (14) days after your purchase to withdraw for any reason and must pay us for 
      the services provided up until the time you tell us that you have changed your 
      mind. You expressly consent to us providing you with the service immediately 
      following your purchase, that you lose your right of withdrawal, and authorise 
      Keasbey Company to charge you automatically each month until you cancel.
      </p>

      <p class="tou-content-header">
      <h5>User Guidelines</h5>
      </p>

      <p class="tou-content">
      We've established guidelines for using the Keasbey Services in order
      to make sure that the user can enjoy the Keasbey Services and its user experience. In 
      using the Keasbey Services, you must comply with the Keasbey Company User Guidelines, as 
      well as all applicable laws, rules, and regulation, and respect the intellectual 
      property, privacy, and other rights of third parties. The user guidelines are part of 
      the apps provided on the website and include the descriptions of how to use the applications.
      </p>

      <p class="tou-content-header">
      <h5>Brand Accounts</h5>
      </p>

      <p class="tou-content">
      If you establish an account on behalf of a company, organization, entity,
      or brand (a "Brand," and a related account referred to as "Brand Account"), the terms "you" and 
      "your," as used throughout these Terms (including other Keasbey Company terms and 
      conditions incorporated by reference herein), apply to both you and the Brand.
      </p>

      <p class="tou-content">
      If you create a Brand Account, you represent and warrant that you are authorized 
      to grant all permissions and licenses provided in these Terms (including any 
      other applicable Keasbey terms and conditions) and to bind the Brand to these 
      Terms.
      </p>

      <p class="tou-content-header">
      <h3>Content and Intellectual Property Rights</h3>
      </p>

      <p class="tou-content-header">
      <h5>User content</h5>
      </p>

      <p class="tou-content">
      Keasbey Company users may post, upload, or otherwise contribute content to the Keasbey Company 
      Services ("User Content"). For the avoidance of doubt, "User Content" includes 
      all information, materials and other content that is added, created, uploaded, 
      submitted, distributed, or posted to the Keasbey Services (including to the 
      Support Community) by users. You are solely responsible for all User 
      Content that you post.
      </p>

      <p class="tou-content">
      You promise that, with respect to any User Content you post on the Keasbey Company website, 
      (1) you own or have the right to post such User Content; (2) such User Content, or its 
      use by Keasbe Company pursuant to the license granted below, does not: (i) violate these 
      Terms, applicable law, or the intellectual property or other rights of any third 
      party; or (ii) such User Content does not imply any affiliation with or endorsement of you 
      or your User Content by Keasbey Company, any user or other individual or entity without the 
      prior express written consent from Keasbey Company or such individual or entity.
      </p>

      <p class="tou-content">
      In posting or sharing User Content or other information on the Keasbey Services, please keep 
      in mind that User Content and other information will not be publicly accessible by third 
      parties, except the user and the database owner, which is Keasbey Company. Nevertheless 
      Keasbey advices you to be cautious in posting or sharing on the Keasbey Company website 
      and be mindful of your account settings. Keasbey is not responsible for what you or others 
      post or share on the Keasbey Company website.
      </p>

      <p class="tou-content">
      Keasbey may, but has no obligation to, monitor or review User Content. Keasbey 
      reserves the right to remove or disable access to any User Content for any or no
      reason. Keasbey may take these actions without prior notification to you.
      </p>

      <p class="tou-content-header">
      <h5>Rights and licenses you grant to Keasbey</h5>
      </p>

      <p class="tou-content">
      When you post Content to Keasbey Services you retain ownership of your User Content. 
      However, in order for us to make your User Content available on the Keasbey Company website,
      we do need a limited license from you to that User Content due to technical reasons. 
      Accordingly, you hereby grant to Keasbey a non-exclusive, transferable, 
      sub-licensable, royalty-free, fully paid, irrevocable, worldwide license to 
      reproduce, make available, perform and display, translate, modify, create 
      derivative works from, distribute, and otherwise use any such User Content 
      through any medium, whether alone or in combination with other Content or 
      materials, in any manner and by any means, method or technology, whether now 
      known or hereafter created, in connection with the Keasbey Services.
      </p>

      <p class="tou-content">
      Where applicable and to the extent permitted under applicable law, you also agree to 
      waive, and not to enforce, any "moral rights" or equivalent rights, such as 
      your right to be identified as the author of any User Content, including 
      Feedback, and your right to object to derogatory treatment of such User 
      Content.
      </p>

      <p class="tou-content">
      If you provide ideas, suggestions, or other feedback in connection with your 
      use of the Keasbey Services or any Content ("Feedback"), such Feedback is not 
      confidential and may be used by Keasbey Company without restriction and without payment 
      to you. Feedback is considered a type of User Content under these Terms.
      </p>

      <p class="tou-content">
      You also grant to us the right (1) to allow the Keasbey Services to use the resources of 
      your local machine or devices such as the processor, bandwidth, and storage hardware on 
      your Device in order to facilitate the operation of the Keasbey Services, (2) to provide 
      advertising and other information to you, and to allow our business partners to do the same, 
      as permitted in accordance with the Keasbey Company <a href="{% url 'privacy-page' %}" 
      target="_blank"><u>Privacy Policy</u></a>.
      </p> 

      <p class="tou-content">
      Keasbey Company respects the rights of intellectual property owners. If you believe that 
      any Content infringes your copyright rights, please <a href="{% url 'contact' %}" 
      target="_blank"><u>contact us</u></a>.
      </p>

      <p class="tou-content-header">
      <h3>Customer Support, Information, Questions, Complaints</h3>
      </p>

      <p class="tou-content">
      If you have any questions concerning the Keasbey Service or these Terms 
      please contact Keasbey via our <a href="{% url 'contact' %}" target="_blank"><u>contact form</u></a>. 
      If you reside in the European Union, you can also file a complaint at the online platform for 
      alternative dispute resolution (ODR-platform). You can find the ODR-platform here <a 
      href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.
      </p>

      <p class="tou-content-header">
      <h3>Problems and Disputes</h3>
      </p>

      <p class="tou-content-header">
      <h5>Suspending and terminating the Keasbey Service</h5>
      </p>

      <p class="tou-content">
      These Terms will continue to apply to you until terminated by either you or 
      Keasbey. Keasbey may terminate these Terms (including any additional terms and 
      conditions incorporated herein) or suspend your access to the Keasbey Service 
      at any time if we believe you have breached any of these Terms, if we stop 
      providing the Keasbey Service or any material component thereof on reasonable 
      notice to you, or as we believe necessary to comply with applicable law.
      </p>

      <p class="tou-content">
      If you or Keasbey Company suspends these Terms of Use, or if Keasbey Company 
      terminates your access to the Keasbey Service, you agree that Keasbey Company shall, 
      subject to applicable laws, have no liability or responsibility to you, and (except 
      as expressly stated in these Terms of Use) Keasbey Company will not refund any amounts 
      that you have already paid. You may terminate these Terms of Use at any time, in which 
      case you may not continue accessing or using the Keasbey Service.
      </p>

      <p class="tou-content-header">
      <h5>Warranty disclaimers</h5>
      </p>

      <p class="tou-content">
      Keasbey Company will provide the Keasbey Services using reasonable care and skill and in 
      accordance with any specification of the Keasbey Services provided by Keasbey Company, 
      however, subject to that, the Keasbey Services are provided "as is" and "as 
      available," without any warranties of any kind, whether express, implied, or 
      statutory. Furthermore, Keasbey Company and all owners of the content disclaim any express, 
      implied, and statutory warranties regarding the content, including warranties of 
      satisfactory quality, merchantability, fitness for a particular purpose, or 
      non-infringement. Neither Keasbey Company nor any owner of content warrants that the 
      Keasbey Services or content are free of malware or other harmful components. 
      </p>

      <p class="tou-content">
      In addition, Keasbey makes no representation regarding, nor does it warrant or 
      assume any responsibility for, any third-party applications (or the content 
      thereof), user content, devices or any product or service advertised, promoted 
      or offered by a third party on or through the Keasbey Service or any hyperlinked 
      website, and Keasbey is not responsible for any transactions between you and any 
      third-party providers of the foregoing.
      </p>

      <p class="tou-content">
      No advice or information whether oral or in writing obtained by you from Keasbey Services 
      shall create any warranty on behalf of Keasbey Company. While using the Keasbey Services, 
      you may have access to explicit content filtering features, but use of these features 
      may still result in some explicit content being served and you should not rely on such 
      features to filter all explicit content. This section applies to the fullest extent 
      permitted by applicable law.
      </p>

      <p class="tou-content">
      Some jurisdictions do not allow the exclusion of implied warranties or limitations on 
      applicable statutory rights of a consumer, so the exclusion and limitations in this section 
      may not apply to you and nothing will affect your statutory rights.
      </p>

      <p class="tou-content-header">
      <h5>Limitation of Liability and Time for Filing a Claim</h5>
      </p>

      <p class="tou-content">
      Subject to applicable law, you agree that your sole and exclusive remedy for 
      any problems or dissatisfaction with the Keasbey Services is to uninstall any 
      Keasbey Company software and to stop using the Keasbey Services. You agree that Keasbey Company
      has no obligation or liability arising from or related to third-party 
      applications or the content thereof made available through or in connection 
      with the Keasbey Services, and while your relationship with such third-party 
      applications may be governed by separate agreements with such third parties, 
      your sole and exclusive remedy, as with respect to Keasbey Company, for any problems or 
      dissatisfaction with any third-party applications or the content thereof, is to 
      uninstall or stop using such third-party applications.
      </p>

      <p class="tou-content">
      In no event will Keasbey Keasbey, its officers, shareholders, employees, agents, 
      directors, subsidiaries, affiliates, successors, assigns, suppliers, or licensors be liable for
        
        <ul>
          <li>
          any indirect, special, incidental, punitive, exemplary, or consequential damages. 
          </li>
          
          <li>
          any loss of use, data, business, or profits (whether direct or indirect), in all cases arising 
          out of the use of or inability to use the Keasbey Services, devices, third-party applications, or 
          third-party application content.
          </li>
      </ul>
      </p>

      <p class="tou-content">
      For clarification, these terms do not limit Keasbey Company's liability for fraud, 
      fraudulent misrepresentation, death or personal injury to the extent that 
      applicable law would prohibit such a limitation and for any other liability 
      that, by applicable law, may not be limited or excluded.
      </p>

      <p class="tou-content">
      Except where such restriction is prohibited under applicable law, any claim 
      arising under these terms must be commenced (by filing a demand for arbitration 
      or filing an individual action under the arbitration agreement below) within 
      one (1) year after the date the party asserting the claim first knows or 
      reasonably should know of the act, omission, or default giving rise to the 
      claim; and there shall be no right to any remedy for any claim not asserted 
      within that time period.
      </p>

      <p class="tou-content-header">
      <h5>Third Party Rights</h5>
      </p>

      <p class="tou-content">
      You acknowledge and agree that the owners of the Content and certain 
      distributors (such as app store providers) are intended beneficiaries of these 
      Terms of Use and have the right to enforce these Terms of Use directly against you. Other than 
      as set out in this section, these Terms of Use are not intended to grant rights to 
      anyone except you and Keasbey Company, and in no event shall these Terms create any 
      third-party beneficiary rights.
      </p>

      <p class="tou-content">
      If you have downloaded any of our mobile software applications (each, an "App")
      from the Apple Inc. ("Apple") App Store or if you are using the App on an iOS 
      device, you acknowledge that you have read, understood, and agree to the 
      following notice regarding Apple. These Terms are between you and Keasbey Company 
      only, not with Apple, and Apple is not responsible for the Keasbey Services and the 
      content thereof. 
      </p>

      <p class="tou-content">
      Apple has no obligation whatsoever to furnish any maintenance 
      and support services with respect to the Keasbey Services. In the event of any 
      failure of the Keasbey Services to conform to any applicable warranty, you may 
      notify Apple and Apple will refund the applicable purchase price for the App 
      to you; and, to the maximum extent permitted by applicable law, Apple has no 
      other warranty obligation whatsoever with respect to the Keasbey Services. 
      </p>

      <p class="tou-content">
      Apple is not responsible for addressing any claims by you or any third party 
      relating to the Keasbey Services or your possession or use of the Keasbey Company 
      Services, including: 

      <ul>
        <li>
        product liability claims, 
        </li>
        
        <li>
        any claim that the Keasbey Services fail to conform to any applicable legal or regulatory 
        requirement, 
        </li>
        
        <li>
        claims arising under consumer protection or similar legislation; 
        </li>

        <li>
        claims with respect to intellectual property infringement. 
        </li>
      </ul>
      </p>

      <p class="tou-content">
      Apple is not responsible for the investigation, defense, 
      settlement, and discharge of any third-party claim that the Keasbey Services 
      or your possession and use of the App infringe that third party's intellectual 
      property rights. You agree to comply with any applicable third-party terms, 
      when using the Keasbey Services. Apple, and Apple's subsidiaries, are 
      third-party beneficiaries of these Terms, and upon your acceptance of these 
      Terms, Apple will have the right (and will be deemed to have accepted the 
      right) to enforce these Terms against you as a third-party beneficiary of these 
      Terms.
      </p>

      <p class="tou-content-header">
      <h5>Indemnification</h5>
      </p>

      <p class="tou-content">
      You agree to indemnify and hold Keasbey Company harmless from and against any reasonably
      foreseeable direct losses, damages, and reasonable expenses (including 
      reasonable attorney fees and costs) suffered or incurred by Keasbey Company arising out 
      of or related to: 
      
      <ul> 
        <li>
          your breach of any of these Terms (including any additional Keasbey Company terms 
          and conditions incorporated herein), 
        </li>
        
        <li>
          any User Content you post or otherwise contribute, 
        </li>
        
        <li>
          any activity in which you engage on or through the Keasbey Services, 
        </li>
        
        <li>
          your violation of any law or the rights of a third party.
        </li>
      </ul>
      </p>

      <p class="tou-content-header">
      <h5>Governing Law / Jurisdiction</h5>
      </p>

      <p class="tou-content">
      Unless otherwise required by mandatory laws in your country of residence, the 
      Agreements (and any non-contractual disputes/claims arising out of or in 
      connection with them) are subject to the laws of the state or country listed 
      below, without regard to choice or conflicts of law principles.

      <ul>
        <li>Republic of Montenegro</li>
      </ul>
      </p>

      <p class="tou-content-header">
      <h3>Data and Privacy Policy</h3>
      </p>

      <p class="tou-content">
      Keasbey Company is committed to a strict privacy policy. Read our explicit 
      <a href="{% url 'privacy-page' %}" target="_blank"><u>Privacy Policy</u></a> which governs 
      our use of your personal data and explains how we secure data.
      </p>

      <p class="tou-content-header">
      <h3>About these terms</h3>
      </p>

      <p class="tou-content">
      Under applicable law, you may have certain rights that can't be limited by a 
      contract. These terms are in no way intended to restrict those rights.
      </p>

      <p class="tou-content-header">
      <h5>Changes</h5>
      </p>

      <p class="tou-content">
      We may make changes to these Terms (including any additional Keasbey Company terms and 
      conditions incorporated by reference herein) from time to time by notifying you 
      of such changes by any reasonable means (before they take effect), including by 
      posting a revised Agreement on the applicable Keasbey Services (provided that, 
      for material changes, we will seek to supplement such notice by email, an 
      in-service pop-up message, or other means).
      </p>

      <p class="tou-content">
      Any such changes will not apply to 
      any dispute between you and us arising prior to the date on which we posted 
      the revised Terms, or other Keasbey Company terms and conditions, incorporating such 
      changes, or otherwise notified you of such changes. Your use of the Keasbey Company 
      Services following any changes to these Terms of Use will constitute your acceptance 
      of such changes. If you do not wish to continue using the Keasbey Services under 
      the updated Terms of Use, you may terminate your account. The effective date set forth at 
      the top of this document indicates when these Terms of Use were last changed.
      </p>

      <p class="tou-content-header">
      <h5>Entire Agreement</h5>
      </p>

      <p class="tou-content">
      Other than as stated in this section or as explicitly agreed upon in writing 
      between you and Keasbey Company, these Terms of Use constitute all the terms and conditions 
      agreed upon between you and Keasbey Company and supersede any prior agreements in 
      relation to the subject matter of these Terms of Use, whether written or oral. As 
      noted above, other terms and conditions governing use of the Keasbey Services 
      are incorporated herein by reference, including the following terms and conditions: the 
      Keasbey Company Premium Promotional Offer Terms or the User Guidelines that are part of 
      the apps. 
      </p>

      <p class="tou-content-header">
      <h5>Severability and Waiver</h5>
      </p>

      <p class="tou-content">
      Unless as otherwise stated in these Terms of Use, should any provision of these 
      Terms be held invalid or unenforceable for any reason or to any extent, the 
      remaining provisions of these Terms of Use will not be affected, and the application 
      of that provision shall be enforced to the extent permitted by law.
      </p>

      <p class="tou-content">
      Any failure by Keasbey Company or any third-party beneficiary to enforce these Terms of Use 
      or any provision thereof shall not waive Keasbey Company's or the applicable third-party
      beneficiary's right to do so.
      </p>

      <p class="tou-content-header">
      <h5>Assignment</h5>
      </p>

      <p class="tou-content">
      Keasbey Company may assign any or all of these Terms, and may assign or delegate, in 
      whole or in part, any of its rights or obligations under these Terms of Use. You may 
      not assign these Terms of Use, in whole or in part, nor transfer or sub-license your 
      rights under these Terms of Use to any third party.
      </p>

    </div>
    </div>
  </article>
</div>
{% endblock content %}