<div class="col-md-3 px-0" >
  <div style="position: fixed; width: 14%; margin-top: 12px;">
    <div class="content-section-right">      
      <h6><p>{% load static %} <img src="{% static "blog/media/parrot.png" %}" alt="user" class="center-images"/>User</p></h6>
      <p class='text-muted'>
          <ul class="list-group" style="list-style-type:none;">
            {% if user.is_authenticated %}
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'logout-page' %}';">Logout</li>                  
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'profile-page' %}';">Profile</li>
            {% else %}
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'login-page' %}';">Login</li>                  
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'register-page' %}';">Register</li>
            {% endif %} 
          </ul>
        </div>
      </p>
    <div class="content-section-right">      
        <h6><p>{% load static %} <img src="{% static "blog/media/fly.png" %}" alt="user" class="center-images"/>Apps</p></h6>
        <p class='text-muted'>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'release-note-detail' pk=2 %}';">News-Krake</li>                  
              <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'release-note-detail' pk=3 %}';">Keasbey App</li>
              <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'main-app' %}';">Keasbey Demo</li>
              <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'portfolio-page' %}';">Portfolio</li>
            </ul>
          </div>
        </p>
                
      <div class="content-section-right">
        <h6><p>{% load static %} <img src="{% static "blog/media/turtle.png" %}" alt="user" class="center-images"/> Learning</p></h6>
        <p class='text-muted'>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'blog-posts-page' %}';">Blog</li>
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="window.open('https://github.com/ChristopherYoon89', '_blank');">Github</li>
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="window.open('https://christopheryoon.substack.com/', '_blank');">Substack</li>
          </ul>
          </div>
        </p>
      <div class="content-section-right">
        <h6><p>{% load static %} <img src="{% static "blog/media/scripting2.png" %}" alt="user" class="center-images"/>Connect</p></h6>
        <p class='text-muted'>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light" onclick="location.href='{% url 'contact' %}';">Email</li>
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="window.open('https://twitter.com/cyoon_dev', '_blank');">Twitter</li>
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="window.open('https://instagram.com/cyoon_dev', '_blank');">Instagram</li>
            <li class="list-group-item list-group-item-light" style="margin-top: 5px;" onclick="location.href='{% url 'blog-posts-page' %}';">YouTube</li>                  
          </ul>
          </div>
        </p>
    </div>
  </div>
</div>


.content-section-right {
  background: #ffffff;
  padding: 7px 7px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
  float: right;
  width: 80%;
  font-weight: bold;
  position: sticky;
}



.content-section-right .link-right-nav {
  color: #898989;
  
}


.content-section-right .list-group {
  font-size: 11px;
  line-height: 5px;
  
}


.content-section-right .list-group-item {
  background-color: #fcfcfc;
  
}


.content-section-right .list-group :hover {
  display: block;
  color: #ffffff;
  background-color: #ff762d ;
  text-decoration: none;
  cursor: pointer;
}